In [1]:
import yaml

with open("../config.yaml", "r") as file:
    config = yaml.safe_load(file)

import pandas as pd

df = pd.read_csv(config['input_data']['file'])
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [3]:
df.shape  
df.columns  
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
df.isnull().sum().sort_values(ascending=False)

director        2634
country          831
cast             825
date_added        10
rating             4
duration           3
show_id            0
type               0
title              0
release_year       0
listed_in          0
description        0
dtype: int64

In [7]:
df.nunique().sort_values()

df['type'].value_counts(normalize=True)

df['country'].value_counts().head(10)

df['rating'].value_counts().head(10)

df['listed_in'].value_counts().head(10)

listed_in
Dramas, International Movies                        362
Documentaries                                       359
Stand-Up Comedy                                     334
Comedies, Dramas, International Movies              274
Dramas, Independent Movies, International Movies    252
Kids' TV                                            220
Children & Family Movies                            215
Children & Family Movies, Comedies                  201
Documentaries, International Movies                 186
Dramas, International Movies, Romantic Movies       180
Name: count, dtype: int64

In [9]:
print("Content types:")
print(df['type'].value_counts())

print("\nMost common ratings:")
print(df['rating'].value_counts().head(10))

print("\nTop countries by number of titles:")
print(df['country'].value_counts().head(10))

print("\nMost frequent release years:")
print(df['release_year'].value_counts().head(10))

Content types:
type
Movie      6131
TV Show    2676
Name: count, dtype: int64

Most common ratings:
rating
TV-MA    3207
TV-14    2160
TV-PG     863
R         799
PG-13     490
TV-Y7     334
TV-Y      307
PG        287
TV-G      220
NR         80
Name: count, dtype: int64

Top countries by number of titles:
country
United States     2818
India              972
United Kingdom     419
Japan              245
South Korea        199
Canada             181
Spain              145
France             124
Mexico             110
Egypt              106
Name: count, dtype: int64

Most frequent release years:
release_year
2018    1147
2017    1032
2019    1030
2020     953
2016     902
2021     592
2015     560
2014     352
2013     288
2012     237
Name: count, dtype: int64

In [11]:
df['listed_in'].sample(10)

3202    Documentaries, International Movies, Music & M...
310                            Crime TV Shows, Docuseries
5921                                      Stand-Up Comedy
7908             Docuseries, Stand-Up Comedy & Talk Shows
112                                                Dramas
4848    International TV Shows, Korean TV Shows, Roman...
8536                                             Comedies
6334    Comedies, Independent Movies, International Mo...
6292    Documentaries, International Movies, Sports Mo...
1057                                          TV Comedies
Name: listed_in, dtype: object

In [13]:
df['country'].unique()[:20]

array(['United States', 'South Africa', nan, 'India',
       'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia',
       'United Kingdom', 'Germany, Czech Republic', 'Mexico', 'Turkey',
       'Australia', 'United States, India, France', 'Finland',
       'China, Canada, United States',
       'South Africa, United States, Japan', 'Nigeria', 'Japan',
       'Spain, United States', 'France', 'Belgium',
       'United Kingdom, United States'], dtype=object)

In [15]:
df[['duration_int', 'duration_type']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')

df['duration_int'] = pd.to_numeric(df['duration_int'], errors='coerce')

df[['duration', 'duration_int', 'duration_type']].head()

    duration  duration_int duration_type
0     90 min          90.0           min
1  2 Seasons           2.0       Seasons
2   1 Season           1.0        Season
3   1 Season           1.0        Season
4  2 Seasons           2.0       Seasons

In [17]:
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

df['date_added'].dtype

dtype('<M8[ns]')

In [19]:
df['genres'] = df['listed_in'].str.split(', ')

df[['listed_in', 'genres']].sample(5)

                               listed_in                                genres
8133                       Documentaries                       [Documentaries]
2554              Kids' TV, TV Thrillers              [Kids' TV, TV Thrillers]
5656        Dramas, International Movies        [Dramas, International Movies]
1112  Children & Family Movies, Comedies  [Children & Family Movies, Comedies]
8636                              Dramas                              [Dramas]

In [23]:
df[['duration_int', 'duration_type']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')
df['duration_int'] = pd.to_numeric(df['duration_int'], errors='coerce')

df[['duration', 'duration_int', 'duration_type']].sample(10)

       duration  duration_int duration_type
2829     71 min          71.0           min
2557  2 Seasons           2.0       Seasons
571    1 Season           1.0        Season
5188     97 min          97.0           min
6216   1 Season           1.0        Season
8806    111 min         111.0           min
7914     91 min          91.0           min
776      94 min          94.0           min
2715    174 min         174.0           min
6967    104 min         104.0           min

In [45]:
df['duration_type'].value_counts()

duration_type
min       6128
Season    2676
Name: count, dtype: int64

In [47]:
df['duration_type'] = df['duration_type'].replace('Seasons', 'Season')
df['duration_type'].value_counts()

duration_type
min       6128
Season    2676
Name: count, dtype: int64

In [49]:
df['duration_int'].isnull().sum()
df = df[df['duration_int'].notna()]

In [51]:
df[df['duration_int'].isna()][['duration']]

Empty DataFrame
Columns: [duration]
Index: []